<template>
    <b-row style="min-height: 100vh">
      <b-col>
        <CharacterInfoComponent />
        <b-row class="main-window" align-content="around">
          <b-col cols="12">
            <b-button @click="goToArena" class="btn-enter">
              Walcz na Arenie z innymi graczami!
            </b-button>
          </b-col>
          <response-component :response="response"/>
        </b-row>
      </b-col>
    </b-row>
</template>

<script>
import CharacterInfoComponent from "../components/CharacterInfoComponent";
import NavBarComponent from "../components/NavBarComponent";
import ResponseComponent from "../components/ResponseComponent"

export default {
  data:function() {
    return{
      response: null,
    }
  },
  methods: {
    goToArena() {
      this.$store.dispatch("GOTO_ARENA")
      .then(response=>{
        this.response = response;
        this.$store.dispatch("FETCH_CHARACTER")
      })
      .catch(error=>{
        console.log(error.response)
      })
    }
  },
  components: {
    CharacterInfoComponent,
    NavBarComponent,
    ResponseComponent,
  }
};
</script>

<style scoped>
.main-window{
  background-image: url("../assets/arena.png");
  height:95%;
  background-size: cover;
}
</style>
