<template>
  <b-row style="min-height: 100vh">
    <b-col>
      <CharacterInfoComponent />
      <b-row class="main-window" align-h="center">
        <b-col cols="12">
          <b-button class="btn-enter" @click="goToDungeon">
            Idź do lochów
          </b-button>
        </b-col>
        <response-component :response="response"/>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import CharacterInfoComponent from "../components/CharacterInfoComponent";
import NavBarComponent from "../components/NavBarComponent";
import ResponseComponent from "../components/ResponseComponent"

export default {
  components: {
    CharacterInfoComponent,
    NavBarComponent
  },
  data: function() {
    return {
      response: null
    };
  },
  methods: {
    goToDungeon() {
      this.$store
        .dispatch("GOTO_QUEST", "DUNGEON")
        .then(response => {
          this.response = response;
        })
        .catch(error => {
          if (error.response.status === 406) {
            alert("Osiągnąłeś limit przedmiotów");
          }
          console.log(error.response);
        });
    }
  },
  components: {
    ResponseComponent,
    CharacterInfoComponent,
  }
};
</script>

<style scoped>
.main-window {
  background-image: url("../assets/dungeon.png");
  height: 95%;
  background-size: cover;
}
</style>
