<template>
  <CharacterComponent />
</template>

<script>
import NavBarComponent from "@/components/NavBarComponent";
import CharacterComponent from "@/components/CharacterComponent";
import ItemListComponent from "@/components/home/ItemListComponent";

export default {
  name: "home",
  components: {
    NavBarComponent,
    CharacterComponent,
    ItemListComponent
  }
};
</script>

<style scoped></style>
