<template>
  <b-row style="min-height: 100vh">
    <b-col>
      <CharacterInfoComponent />
      <b-row class="main-window" align-h="center">
        <b-col cols="12">
          <b-button class="btn-enter" @click="goToQuest">
            Idź na wyprawę (10 minut)
          </b-button>
        </b-col>
        <response-component :response="response"/>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import CharacterInfoComponent from "../components/CharacterInfoComponent";
import NavBarComponent from "../components/NavBarComponent";
import ResponseComponent from "../components/ResponseComponent"

export default {
  data: function() {
    return {
      response: null
    };
  },
  methods: {
    goToQuest() {
      this.$store
        .dispatch("GOTO_QUEST", "QUEST")
        .then(response => {
          this.response = response;
          this.$store.dispatch("FETCH_CHARACTER")
        })
        .catch(error => {
          if (error.response.status === 406) {
            alert("Osiągnąłeś limit przedmiotów");
          }
          console.log(error.response);
        });
    }
  },
  components: {
    CharacterInfoComponent,
    NavBarComponent,
    ResponseComponent,
  }
};
</script>

<style scoped>
.main-window {
  background-image: url("../assets/quest.png");
  height: 95%;
  background-size: cover;
}
strong {
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
</style>
