<template>
  <b-container
    fluid
    class="h-100"
    
  >
    <b-row v-if="item !== undefined && item !== null && item">
      <b-col cols="12">
        <b>{{ item.name }}</b>
      </b-col>
      <b-col cols="12"> {{ itemType }}: {{ item.value }} </b-col>
      <b-button @click="equip" size="sm">Załóż</b-button>
      <b-button v-if="isBag" @click="sell" size="sm">Sprzedaj</b-button>
    </b-row>
  </b-container>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "itemComponent",
  data: function() {
    return {
      popoverId: null
    };
  },
  props: {
    isBag: false,
    item: {
      id: "",
      name: "",
      level: null,
      itemStat: null,
      itemSlot: "",
      itemType: "",
      itemRarity: "",
      value: null
    },
    index: null
  },
  created: function() {
    this.popoverId = "itemPopoverId" + this.$store.getters.itemComponentId;
    this.incrementPopoverId();
  },
  computed: {
    itemType: function() {
      if (this.item.itemType == "ARMOR") {
        return "pancerz";
      }
      if(this.item.itemType.endsWith("WEAPON")){
        return "bron";
      }
      return this.item.itemType;
    }
  },
  methods: {
    ...mapMutations({
      incrementPopoverId: "increment"
    }),
    equip: function() {
      this.$store.dispatch("EQUIP_ITEM", this.index);
    },
    sell: function() {
      this.$store.dispatch("SELL_ITEM", this.index);
    }
  }
};
</script>

<style scoped>
.container-fluid {
  border: 1px solid orange;
}

.container-fluid:hover {
  cursor: pointer;
  background: goldenrod;
}

.item {
  background-color: red;
}
</style>
