<template> 
    <b-container>
        <b-row>
            <b-col>
                <ItemComponent :item="items[0]" :isBag=true :index=0 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[1]" :isBag=true :index=1 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[2]" :isBag=true :index=2 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[3]" :isBag=true :index=3 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[4]" :isBag=true :index=4 />
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <ItemComponent :item="items[5]" :isBag=true :index=5 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[6]" :isBag=true :index=6 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[7]" :isBag=true :index=7 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[8]" :isBag=true :index=8 />
            </b-col>
            <b-col>
                <ItemComponent :item="items[9]" :isBag=true :index=9 />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import ItemComponent from './ItemComponent'

export default {
  name: "itemListComponent",
  props: ['items'],
  data: function() {
    return {
    };
  },
  components: {
      ItemComponent
  }
};
</script>

<style scoped>
.row{
    height: 50%;
}
</style>
