<template>
  <b-row style="min-height:5%">
    <b-col>
      <span
        ><strong>{{ character.name }}</strong> POZIOM:
        <strong>{{ character.level }}</strong></span
      >
      <b-progress :max="reqExp">
        <b-progress-bar :value="exp">
          <strong
            >{{ character.exp }} / {{ character.experinceToLevel }}</strong
          >
        </b-progress-bar>
      </b-progress>
    </b-col>
  </b-row>
</template>

<script>
export default {
  data: function() {
    return {
      exp: 0,
      reqExp: 10
    };
  },
  created: function() {
    this.exp = this.$store.getters.getCharacter.exp;
    this.reqExp = this.$store.getters.getCharacter.experinceToLevel;
  },
  computed: {
    character: function() {
      return this.$store.getters.getCharacter;
    }
  }
};
</script>

<style scoped>
.row {
  border-top: 1px solid peru;
  border-left: 1px solid peru;
  border-right: 1px solid peru;
}
</style>
