<template>
  <b-container fluid>
    <CharacterInfoComponent />
    <b-row style="height:70vh">
      <b-col cols="3">
        <b-row class="h-25" align-v="center">
          <b-col align-self="center">
            <img src="../assets/xt.gif" width="50%" />
          </b-col>
          <b-col>
            <h1>{{ gold }}</h1>
          </b-col>
        </b-row>
        <b-row class="h-75" align-v="center">
          <b-col cols="10">
            <span>SIŁA: {{ str }}</span>
          </b-col>
          <b-col cols="2">
            <b-button @click="incraseStat('str')" variant="warning">+</b-button>
          </b-col>
          <b-col cols="10">
            <span>ZRĘCZNOŚĆ: {{ agi }}</span>
          </b-col>
          <b-col cols="2">
            <b-button @click="incraseStat('agi')" variant="warning">+</b-button>
          </b-col>
          <b-col cols="10">
            <span>INTELEKT: {{ int }}</span>
          </b-col>
          <b-col cols="2">
            <b-button @click="incraseStat('int')" variant="warning">+</b-button>
          </b-col>
          <b-col cols="10">
            <span>WYTRZYMAŁOŚĆ: {{ sta }}</span>
          </b-col>
          <b-col cols="2">
            <b-button @click="incraseStat('sta')" variant="warning">+</b-button>
          </b-col>
          <b-col cols="10">
            <span>SZCZĘŚCIE: {{ luc }}</span>
          </b-col>
          <b-col cols="2">
            <b-button @click="incraseStat('luc')" variant="warning">+</b-button>
          </b-col>
          <b-col>
            <span>Obrażenia: {{ damage }}</span>
          </b-col>
          <b-col>
            <span>Pancerz: {{ armor }}</span>
          </b-col>
          <b-col>
            <span>Życie: {{ health }}</span>
          </b-col>
        </b-row>
      </b-col>
      <b-col align-self="center">
        <img src="../assets/character.png" width="25%" />
      </b-col>
      <b-col cols="1">
        <b-row class="eq-items">
          <itemComponent :item="equipment[0]" :index=0 />
        </b-row>
        <b-row class="eq-items">
          <itemComponent :item="equipment[1]" :index=1 />
        </b-row>
        <b-row class="eq-items">
          <itemComponent :item="equipment[2]" :index=2 />
        </b-row>
        <b-row class="eq-items">
          <itemComponent :item="equipment[3]" :index=3 />
        </b-row>
        <b-row class="eq-items">
          <itemComponent :item="equipment[4]" :index=4 />
        </b-row>
        <b-row class="eq-items">
          <itemComponent :item="equipment[5]" :index=5 />
        </b-row>
      </b-col>
    </b-row>
    <b-row style="height:25vh">
      <itemListComponent :items="items" />
    </b-row>
  </b-container>
</template>

<script>
import itemListComponent from "./home/ItemListComponent";
import itemComponent from "./home/ItemComponent";
import CharacterInfoComponent from "./CharacterInfoComponent";

export default {
  name: "characterComponent",
  data: function() {
    return {
      characterImage: "../../assets/character.png"
    };
  },
  mounted: function() {
    this.$store.dispatch("FETCH_CHARACTER");
  },
  components: {
    itemListComponent,
    itemComponent,
    CharacterInfoComponent
  },
  methods: {
    incraseStat: function(stat) {
      this.$store.dispatch("INCREASE_STAT", stat)
    }
  },
  computed: {
    equipment: function() {
      var equipment = [];
      equipment.push(this.$store.getters.getCharacter.equipment.chest);
      equipment.push(this.$store.getters.getCharacter.equipment.head);
      equipment.push(this.$store.getters.getCharacter.equipment.legs);
      equipment.push(this.$store.getters.getCharacter.equipment.feet);
      equipment.push(this.$store.getters.getCharacter.equipment.mainHand);
      equipment.push(this.$store.getters.getCharacter.equipment.offHand);
      return equipment;
    },
    items: function() {
      return this.$store.getters.getCharacter.items;
    },
    gold: function() {
      return this.$store.getters.getCharacter.gold;
    },
    str: function() {
      return this.$store.getters.getCharacter.strength;
    },
    agi: function() {
      return this.$store.getters.getCharacter.agility;
    },
    int: function() {
      return this.$store.getters.getCharacter.intelligence;
    },
    sta: function() {
      return this.$store.getters.getCharacter.stamina;
    },
    luc: function() {
      return this.$store.getters.getCharacter.luck;
    },
    health: function() {
      return this.$store.getters.getCharacter.health;
    },
    damage: function() {
      return this.$store.getters.getCharacter.damage;
    },
    armor: function() {
      return this.$store.getters.getCharacter.armor;
    }
  }
};
</script>

<style scoped>
.eq-items {
  height: 16.66666666666667%;
}

span {
  font-weight: bold;
}

.row {
  border: 1px solid goldenrod;
}
</style>
