<template>
    <b-nav vertical  class="w-25" >
      <img src="../assets/logo.png" width="400%">
      <b-nav-item to="/" class="btn btn-warning">POSTAĆ</b-nav-item>
      <b-nav-item to="/quests" class="btn btn-warning">WYPRAWY</b-nav-item>
      <b-nav-item to="/dungeons" class="btn btn-warning">LOCHY</b-nav-item>
      <b-nav-item to="/arena" class="btn btn-warning">ARENA</b-nav-item>
      <b-nav-item  @click="logout" class="btn btn-warning">WYLOGUJ</b-nav-item>
    </b-nav>
</template>

<script>
export default {
  data: function(){
    return {
      logo: '../../assets/logo.png'
    }
  },
  methods: {
    logout: function() {
      this.$store.dispatch('LOGOUT');
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped> 
.nav-item {
  margin: 5px -10px;
}

.nav-item > a {
  color:black;
}
</style>
