<template>
  <b-col
    v-if="reponse !== null && response !== undefined && response"
    class="response"
  >
    <b-row>
      {{ response.intro }}
    </b-row>
    <b-row v-for="(turn, index) in response.turns" :key="index">
      <b-col class="enemyHealth">
        życie przeciwnika: {{ turn.enemyHealth }}
      </b-col>
      <b-col class="characterHealth">
        Twoje życie: {{ turn.characterHealth }}
      </b-col>
    </b-row>
    <b-row>
      {{ response.outro }}
    </b-row>
    <b-row v-if="response.drop">
      Zdobyłeś: {{ response.drop.name }}
    </b-row>
  </b-col>
</template>

<script>
export default {
  name: "response-component",
  props: ["response"]
};
</script>

<style></style>
