<template>
  <b-container fluid style="min-height: 100vh">
    <b-row>
      <b-col cols="1">
        <NavBarComponent v-if="showNavBar" />
      </b-col>
      <b-col>
        <router-view />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios'
import NavBarComponent from "@/components/NavBarComponent";

export default {
  name: "App",
  computed: {
    showNavBar: function() {
      return this.$store.getters.isAuthenticated;
    }
  },
  created: function() {
    console.log("created")
    this.$store.dispatch("FETCH_CHARACTER")
  },
  components: {
    NavBarComponent
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: cornsilk;
}

.btn-enter {
  background: crimson;
}

.btn-enter:hover {
  background: darkred;
}

.response {
  color: white;
  height: 95%;
  text-shadow: black 1px 1px 2px;
  font-weight: bold;
}

.characterHealth {
  color: chartreuse;
  text-shadow: black 1px 1px 2px;
}

.enemyHealth {
  color: red;
  text-shadow:white 1px 1px 2px;
}
</style>
