<template>
  <b-container>
    <b-form @submit="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Password:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.password"
          required
          placeholder="Enter passsword"
          type="password"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button href="/register">Register</b-button>
    </b-form>
  </b-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      form: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()
      this.$store
        .dispatch("LOGIN", {
          email: this.form.email,
          password: this.form.password
        })
        .then(success => {
          this.$store.dispatch("FETCH_CHARACTER")
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error)
        });
    }
  }
};
</script>

<style>
</style>
