<template>
  <b-container>
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-0"
        label="Character name:"
        label-for="input-0"
      >
        <b-form-input
          id="input-0"
          v-model="form.name"
          type="text"
          required
          placeholder="Enter name"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Password:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.password"
          required
          placeholder="Enter passsword"
          type="password"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Repeat password:"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="form.confirmPassword"
          required
          placeholder="Repeat password"
          type="password"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary" :disabled="isPasswordMatch"
        >Submit</b-button
      >
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-container>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.email = "";
      this.form.name = "";
      this.form.food = null;
      this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    onSubmit() {
      this.$store
        .dispatch("REGISTER", {
          email: this.form.email,
          password: this.form.password,
          name: this.form.name
        })
        .then(({ status }) => {
          alert("Udało Ci się pomyślnie zarejestrować");
          this.$router.push("/login");
        })
        .catch(error => {
          console.log(error.response);
          // alert(error);
        });
    }
  },
  computed: {
    isPasswordMatch: function() {
      return this.form.password !== this.form.confirmPassword;
    }
  }
};
</script>

<style scoped></style>
